DOCKER_REGISTRY=ghcr.io/alien-worlds

HOST='0.0.0.0'
PORT=8800
SCHEMES='https http'

CHAIN_ID='1064487b3cd1a897ce03ae5b6a865651747e2e152090f99c1d19d44e01aea5a4'
ENDPOINTS='https://wax.eosdac.io'
MINING_CONTRACT='m.federation'
BSC_ENDPOINT='https://bsc-dataseed2.defibit.io/'
ETH_ENDPOINT='https://mainnet.infura.io/v3/9ae811d1c04243f2869a05848207b985'
BSC_TOKEN_CONTRACT='0x2222227E22102Fe3322098e4CBfE18cFebD57c95'
ETH_TOKEN_CONTRACT='0x888888848b652b3e3a0f34c96e00eec0f3a23f72'
# MONGO DB
MONGO_URL='mongodb://db'
MONGO_DB_NAME='alienworlds_mainnet'
# DOCS
DOCS_HOST='localhost'
DOCS_ROUTE_PREFIX='/v1/alienworlds/docs'
DOCS_EXPOSE_ROUTE=true
